body {
  background: linear-gradient(#3A3E6C , #BA71A2 );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 380px;
}

h1 {
  color: #E03FD8;
  margin-bottom: 20px;
  font-size: 32px;
}

input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 18px;
}

button {
  padding: 12px 25px;
  background: #7E2A53;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #502A50;

}